/*-------------- advant -----------------*/
.advant-wrap{
	margin: 80px 0;
	background: #f5f5f5;

	&__img{
		display: flex;
		align-items: flex-end;
		height: calc(100% + 40px);
		margin-top: -40px;
		margin-left: -120px;
	}
}

.advant{
	display: flex;
	flex-wrap: wrap;
	padding: 75px 0;
	margin: 0 -15px;

	&__item{
		display: flex;
		width: calc(50% - 30px);
		margin: 25px 15px;
	}

	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		flex: 0 0 86px;
		width: 86px;
		height: 86px;
		background: #fff;
		border-radius: 50%;
		padding: 5px;
		margin-right: 27px;

		.icon{fill: $color-orange;}
	}

	&__content{padding-top: 28px;}

	&__title{
		@include font(normal, normal, 2rem, 1.5, #000);
	}

	&__text{
		@include font(normal, normal, 1.6rem, 1.5, #000);
		margin-top: 8px;
	}
}

@media (max-width: 767px) {
	.advant-wrap{
		background: transparent;
		margin: 60px 0 40px;
	}

	.advant{
		display: block;
		padding: 0;
		margin: 0;

		&__item{
			width: 100%;
			display: block;
			margin: 0 0 25px;
			text-align: center;
		}

		&__icon{
			margin: 0 0 13px;
			border: 1px solid #ebebeb;
		}

		&__content{padding-top: 0;}
		&__title{font-size: 1.8rem;}
		&__text{font-size: 1.4rem;}
	}
}