/*-------------- basket -----------------*/
.table-basket{
	width: 100%;
	@include font(normal, normal, 1.6rem, 1.625, #000);
	margin-top: -5px;

	&__col-img{width: 95px;}
	&__col-del{width: 60px;}

	&__img{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 130px;
		height: 130px;

		img{max-height: 100%;}
	}

	th{
		vertical-align: middle;
		padding: 0 15px 16px;
		position: relative;
	}

	td{
		vertical-align: middle;
		text-align: center;
		padding: 20px 15px;
	}

	td:first-child{padding-left: 0;}

	&__head{
		height: 100%;
		@include font(normal, normal, 1.4rem, 1.2, $color-grey);
		text-transform: uppercase;
		text-align: center;
	}

	&__head::after{
		content: '';
		width: calc(100% - 30px);
		height: 1px;
		background: #ebebeb;
		position: absolute;
		bottom: 0;
		left: 15px;
	}

	&__head_left{text-align: left;}

	tr{border-bottom: 1px solid #ebebeb;}
	thead tr{border-bottom: 0;}

	&__title{
		@include font(normal, normal, 1.6rem, 1.625, #000);
		text-align: left;

		a{
			color: #000;
			text-decoration: none;
			transition: color 0.2s ease 0s;
		}

		a:hover{color: $color-orange;}
	}

	&__price,
	&__count{
		font-weight: bold;
	}

	&__status{color: $color-green;}
	&__status_red{color: #ff3333;}

	&__del{
		cursor: pointer;
		.icon{
			fill: #adadad;
			transition: fill 0.2s ease 0s;
		}

		.icon:hover{fill: #000;}
	}

	&_small &__img{
		width: 80px;
		height: 80px;
	}
}

.coupon{
	&__label{
		@include font(normal, normal, 1.6rem, 1.2, $color-grey);
		margin-bottom: 17px;
	}

	input[type="text"],
	input[type="search"]{
		display: inline-block;
		height: 6rem;
		width: 100%;
		font-family: $font-site;
		@include font(normal, normal, 1.6rem, 5.8rem, $color-text);
		padding: 0 60px 0 10px;
		border-radius: 5px;
		border: 1px solid #ebebeb;
		outline: 0;
		margin: 0;
		background: #fff;
		box-shadow: none;
		transition: border 0.2s ease 0s;
	}

	input[type="text"]:focus{border-color: $color-orange;}

	&__content{
		display: flex;
		align-items: center;
	}

	&__field{
		width: 270px;
		position: relative;
	}

	input[type="submit"],
	button{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 42px;
		height: 42px;
		background: $color-orange;
		border-radius: 2px;
		position: absolute;
		@include top-center;
		right: 8px;
		transition: box-shadow 0.2s ease 0s;

		.icon{fill: #fff;}
	}

	input[type="submit"]:hover,
	button:hover{
		box-shadow: inset 0 -6.8rem 0 0 $color-dark-orange;
	}

	&__info{margin-left: 30px;}

	&__text{
		@include font(normal, normal, 1.6rem, 1.2, $color-grey);
		margin-bottom: 5px;
	}

	&__price{
		@include font(normal, bold, 2rem, 1.2, #000);
	}
}

.basket-total{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 25px 0 50px;

	&__content{
		display: flex;
		align-items: center;
		margin: 10px 0;
	}

	&__res{
		@include font(normal, normal, 2.6rem, 1.2, #000);
		margin-right: 30px;
	}

	&__sum{font-weight: bold;}

	.coupon{margin: 10px 15px 10px 0;}
	.btn:not(:last-child){margin-right: 20px;}
}

@media (max-width: 991px) {
	.table-basket{
		&,
		tbody,
		td{
			display: block;
		}

		td{padding: 3px 15px;}

		thead{display: none;}

		tr{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			margin-left: -15px;
			margin-right: -15px;
			padding: 10px 0;
			border-bottom: 0;
			position: relative;
		}

		td:first-child{padding-left: 15px;}
		&__col-img{width: 110px;}

		tr::after{
			content: '';
			display: block;
			width: calc(100% - 30px);
			height: 1px;
			background: #ebebeb;
			position: absolute;
			bottom: 0;
			left: 15px;
		}

		td.table-basket__col-title{width: 100%;}

		&__col-del{
			width: 40px;
			height: 40px;
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.basket-total{
		&__res{font-size: 2.2rem;}
	}
}

@media (max-width: 767px) {
	.basket-total{
		&__content{
			display: block;
			text-align: center;
			margin: 20px 0;
		}

		&__res{
			font-size: 2.6rem;
			margin: 0 0 12px;
		}

		.btn{
			width: 100%;
			max-width: 300px;
		}

		.btn:not(:last-child){
			margin-right: 0;
			margin-bottom: 10px;
		}

		.coupon{
			width: 100%;
			margin-right: 0;
		}
	}

	.coupon{
		&__content{display: block;}
		&__info{margin: 16px 0 0;}
		&__field{width: 100%;}
	}
}