/*-------------- contacts -----------------*/
.contacts{overflow: hidden;}

.contact-item{
	padding-bottom: 32px;
	border-bottom: 1px solid #ebebeb;
	margin-bottom: 20px;
	padding-top: 15px;

	&__label{
		@include font(normal, normal, 1.2rem, 1.2, #999);
		text-transform: uppercase;
		margin-bottom: 10px;
	}

	&__text{
		@include font(normal, normal, 1.8rem, 1.55, $color-text);

		a{color: $color-text;}
	}
}

.contact-img{
	margin-right: -480px;
	margin-bottom: 18px;

	&_empty{
		display: flex;
		align-items: center;
		justify-content: center;
		height: 540px;
		background: #f5f5f5;
	}
}

@media (max-width: 1500px) {
	.contact-img{margin-right: -300px;}
}

@media (max-width: 1259px) {
	.contact-img{margin-right: 0;}
}

@media (max-width: 767px) {
	.contact-item{
		padding-bottom: 20px;
		margin-bottom: 20px;
		padding-top: 10px;

	
		&__text{font-size: 1.6rem;}
	}

	.contact-img{
		&_empty{height: 300px;}
	}
}