/*-------------- form-site -----------------*/
.form-site{
	&__title{
		@include font(normal, 300, 2.6rem, 1.2, #000);
		margin-bottom: 35px;
	}

	&__item{margin-bottom: 20px;}

	input[type="text"],
	input[type="email"],
	input[type="number"],
	input[type="password"],
	textarea{
		display: inline-block;
		height: 6rem;
		width: 100%;
		font-family: $font-site;
		@include font(normal, normal, 1.6rem, 5.8rem, #000);
		padding: 0 24px;
		border-radius: 5px;
		border: 1px solid #ebebeb;
		outline: 0;
		margin: 0;
		background: #fff;
		box-shadow: none;
		transition: border 0.2s ease 0s;
	}

	textarea{
		height: 14rem;
		line-height: 1.5;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}

	input[type="text"]:focus,
	input[type="number"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	textarea:focus{
		border-color: $color-orange;
	}

	input[type="text"]::placeholder,
	input[type="number"]::placeholder,
	input[type="email"]::placeholder,
	input[type="password"]::placeholder,
	textarea::placeholder{
		color: $color-grey;
	}

	&__polit{margin-top: 20px;}
	&__btn{margin-top: 17px;}
}
