/*-------------- search-form -----------------*/
.search-form{
	position: relative;

	&__btn{
		cursor: pointer;

		.icon{
			fill: #adadad;
			transition: fill 0.2s ease 0s;
		}
	}

	&__btn:hover .icon{fill: $color-orange;}

	&__content{
		width: 0;
		position: absolute;
		@include top-center;
		right: -15px;
		overflow: hidden;
		transition: width 0.2s ease 0s;
	}

	&__field{
		input[type="text"]{
			display: block;
			height: 6rem;
			width: 100%;
			font-family: $font-site;
			@include font(normal, normal, 1.6rem, 5.8rem, $color-text);
			padding: 0 23px;
			border-radius: 5px;
			border: 1px solid #dbdbdb;
			background: #fff;
			outline: 0;
			margin: 0;
			outline: 0;
			box-shadow: none;
			transition: border 0.2s ease 0s;
		}
	
		input[type="text"]::placeholder{color: #999;}
		input[type="text"]:focus{border-color: $color-orange;}
	
		input[type="submit"],
		button{
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 100%;
			background: transparent;
			border: 0;
			outline: 0;
			box-shadow: none;
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
	
			.icon{
				fill: #000;
				transition: fill 0.2s ease 0s;
			}
	
			&:hover{
				background: $color-orange;
				.icon{fill: #fff;}
			}
		}
	}

	&.active &__content{width: 540px;}
}

@media (min-width: 992px) {
	.search-form{
		&__content{display: block!important;}
	}
}

@media (max-width: 991px) {
	.search-form{
		position: static;

		&__content,
		&.active &__content{
			width: 100%;
		}

		&__content{
			display: none;
			text-align: center;
			padding: 10px 15px;
			position: absolute;
			top: 100%;
			left: 0;
			right: auto;
			transform: none;
			margin-top: 1px;
			background: #fff;
			z-index: 1000;
		}

		&__field{
			display: inline-block;
			width: 100%;
			max-width: 690px;
			position: relative;

			input[type="text"]{padding: 0 45px 0 18px;}
		}

		// &.active &__field{
			
			
		// }
	}
}