extends ../layout/main

block variables
	- var title = 'Содержание';
	- 
		var pagelist = [
			{href: 'main.html',name:'Главная'},
			{href: 'catalog.html',name:'Каталог'},
			{href: 'catalog-detail.html',name:'Каталог детальная'},
			{href: 'catalog-detail-in-cart.html',name:'Каталог детальная (в корзине)'},
			{href: 'salon.html',name:'Салонам'},
			{href: 'salon-detail.html',name:'Салонам детальная'},
			{href: 'lk.html',name:'Личный кабинет'},
			{href: 'lk-history.html',name:'Личный кабинет (История заказов)'},
			{href: 'lk-data.html',name:'Личный кабинет (Личные данные)'},
			{href: 'basket.html',name:'Корзина'},
			{href: 'order.html',name:'Оформление заказа'},
			{href: 'learn.html',name:'Обучение детальная'},
			{href: 'distributor.html',name:'Дистрибьюторам'},
			{href: 'contacts.html',name:'Контакты'},
			{href: 'news-detail.html',name:'Новости детальная'},
			{href: 'tipografika.html',name:'Типографика'},
		];

block content
	section
		.container
			.row
				.col-12
					h1 содержание
					ul
						each page in pagelist
							li
								a(href=page.href, target="_blank")= page.name


