extends ../layout/main

block variables
	- var title = 'Новости';

block breadcrumb
	-
		var breadcrumbs=[
			{href:'/',name:'Главная'},
			{href:'#',name:'О бренде'},
			{href:'#',name:'Новости'},
			{href:'#',name:'Рекомендации по подбору шампуня от бренда GKhair'},
		];

	+breadcrumbs(breadcrumbs)

block content
	section.catalog
		.container
			.row
				.col-lg-3
					ul.left-menu.d-none.d-lg-block
						-
							var list=[
								{text:'О нас',},
								{text:'Записаться в салон',},
								{text:'О Juvexin',},
								{text:'История бренда',},
								{text:'Кератин для волос',},
								{text:'Наши преимущества',},
								{text:'Кератиновое выпрямление',},
								{text:'История кератина',},
								{text:'Новости', status:'active'},
								{text:'Вакансии',},
								{text:'Реквизиты',},
							]
						each item in list
							li.left-menu__item(class=item.status?'active':'')
								a(href="#").left-menu__link.js-left-menu-link= item.text


				.col-lg-9
					.news-detail
						h1 Рекомендации по подбору шампуня от бренда GKhair

						.news-detail__info.clearfix
							.news-detail__img
								img(src="assets/img/detail-news.jpg", alt="")
							
							p Правильный выбор шампуня – это гарантия здоровых ухоженных волос. Для того чтобы уход приносил максимальную пользу необходимо подбирать его в зависимости от типа волос. Но стоит помнить о том, что не волосы отвечают за то к какому типу они относятся, а кожа головы.
							p Определить свой тип «раз и навсегда» практически невозможно. Организм человека так или иначе претерпевает изменения и, соответственно, состояние кожи также изменяется. Гормональный фон, пора года, режим сна и питания– все это и не только влияет на то какими будут относиться ваши волосы.

						.news-detail__desc
							p Для того чтобы правильно подобрать шампунь, в первую очередь необходимо знать свой тип. Вот некоторые факторы, которые позволят вам его определить:

							h3 Нормальный тип

							ul
								li Вы моете голову не чаще чем 2 раза в неделю;
								li Только спустя несколько дней у корней появляется заметный жирный блеск;
								li У волос умеренный объем, который не пропадает к вечеру.

							.info-block
								p <b>Рекомендации:</b> таким волосам подойдут шампуни для всех типов волос, увлажняющие линии, если волосы окрашены используйте линии для окрашенных волос.

								p <b>Рекомендации от бренда GKHair:</b> линии <span style="color: #757575;">Moisturizing, Shield</span>.

							h3 Сухой тип

							ul
								li Вы можете позволить себе мыть голову только один-два раза в неделю;
								li Здоровый блеск волос сохраняется только какое-то время после мытья головы;
								li Кожа головы склонна к шелушениям.


							.info-block
								p <b>Рекомендации:</b> используйте питательные и увлажняющие серии. Гамма ухода должна быть полная: шампунь и кондиционер необходимо дополнить маской.
								p <b>Рекомендации от бренда GKHair:</b> линии <span style="color: #757575;">Moisturizing, Shield</span>.

						.news-detail__btn
							a.btn.btn_border(href='#') Все новости
